*{
  margin: 0;
  padding: 0;

}

.wrap-header{
 
  background-color: seagreen;
}

.AddBook_button{
  background-color:lightcoral;
  border-radius: 2px;
  width: 180px;
  height: 40px;
  margin-right: 40px;
  color: gray;
  font-weight: bold;
  font-size: 20px;

  
}
.app__search_add{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AddBook_button:hover{
  background-color: lightseagreen;
}

button{
  cursor: pointer;
}